<h1>Listing Tenants</h1>

<h2><%= link_to "New Tenant", signup_path, :class => "btn btn-primary" %></h2>


<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Property</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.phone %></td>
    <td><%= user.rental.name if user.rental %></td>
    <%= render 'shared/user_links', :user => user %>
  </tr>
<% end %>
</table>


