<div class="inner_container span2 offset8">
	
	<div>
		<h2><%= link_to "Resident Login", login_path, :class => "btn btn-info" %></h2>
	</div>

	<div>
		<h2><%= link_to "Belleza", "#", :class => "btn btn-info" %></h2>
	</div>

	<div>
		<h2><%= link_to "Summer House", '#', :class => "btn btn-info" %></h2>
	</div>

	<div>
		<h2><%= link_to "Grand Cay", '#', :class => "btn btn-info" %></h2>
	</div>

	<div>
		<h2><%= link_to "Single Family", '#', :class => "btn btn-info" %></h2>
	</div>

	<div>
		<h2><%= link_to "Custom Services", '#', :class => "btn btn-info" %></h2>
	</div>
</div>