  <h1>Third Street Capital</h1>
  <div class="row-fluid">
    <div class="span12">
      <div class="span6">
        <%= link_to "Resident Login", login_path, :class => "btn btn-default" %>
        <%= link_to "Belleza", "#", :class => "btn btn-default" %>
        <%= link_to "Summer House", '#', :class => "btn btn-default" %>
        <%= link_to "Grand Cay", '#', :class => "btn btn-default" %>
      </div>
      <div class="span6">
        <%= link_to "FAQ", faqs_path, :class => "btn btn-default" %>
        <%= link_to "Single Family", '#', :class => "btn btn-default" %>
        <%= link_to "Custom Services", '#', :class => "btn btn-default" %>
        <%= link_to "Contact Us", '#', :class => "btn btn-default" %>
      </div>
    </div>
  </div>
