<h1>Listing rentals</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Rent</th>
    <th>Tenant</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rentals.each do |rental| %>
  <tr>
    <td><%= rental.name %></td>
    <td><%= rental.rent %></td>
    <td><%= rental.user.name if rental.user %></td>
    <td><%= link_to 'Show Property', rental %></td>
    <td><%= link_to 'Edit Property', edit_rental_path(rental) %></td>
    <td><%= link_to 'Destroy Property', rental, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

