<h1><%= @rental.name %></h1>

<table class="table table-striped">
  <tr>
    <th>Rent</th>
    <th>Tenant</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td><%= number_to_currency(@rental.rent) %></td>
    <td><%= @rental.user.name if @rental.user %></td>
  </tr>
</table>

<hr>
<div class="row">
  <div class="span10">
			<ul class="thumbnails">
			  <% @images.each do |image| %>
			  	<li>
					  <div class="thumbnail">
					  	<%= image_tag(image.file.url(:thumb)) %>
				  		<div class="caption">
				  			<%= @rental.name %>
							</div>
						</div>
					</li>
			  <% end %>
			</ul>
	</div>
</div>

<hr>

<% if current_user && current_user.admin %>
  <table class="table table-striped tablesorter-blue">
    <thead>
      <th class="sortable headerSortDown">PDF Documents</th>
      <th></th>
      <th></th>
      <th></th>
    </thead>

    <tbody>
      <% @pdfs.each do |pdf| %>
        <tr>
          <td><%= pdf.title %></td>
          <td><%= link_to "Click for PDF", "#{pdf.file}", :target => "_blank", :class => "btn btn-primary btn-small" %></td>
          <td><%= link_to 'Edit PDF', edit_pdf_path(pdf), :class => "btn btn-success btn-small" %></td>
          <td><%= link_to 'Destroy PDF', pdf, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-small" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Edit Rental', edit_rental_path(@rental), :class => "btn btn-success" %> |
<% end %>

<%= link_to 'Back', rentals_path, :class => "btn btn-info"  %>

