<p>
  <b>User:</b>
  <%= @rental.user_id %>
</p>

<p>
  <b>Name:</b>
  <%= @rental.name %>
</p>

<p>
  <b>Rent:</b>
  <%= @rental.rent %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
