<h1>Listing pdfs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Rental</th>
    <th>File</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pdfs.each do |pdf| %>
  <tr>
    <td><%= pdf.title %></td>
    <td><%= pdf.user_id %></td>
    <td><%= pdf.rental_id %></td>
    <td><%= pdf.file %></td>
    <td><%= link_to 'Show', pdf %></td>
    <td><%= link_to 'Edit', edit_pdf_path(pdf) %></td>
    <td><%= link_to 'Destroy', pdf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pdf', new_pdf_path %>
