<p>
  <b>Title:</b>
  <%= @pdf.title %>
</p>

<p>
  <b>User:</b>
  <%= @pdf.user_id %>
</p>

<p>
  <b>Rental:</b>
  <%= @pdf.rental_id %>
</p>

<p>
  <b>Link To PDF:</b>
  <%= link_to @pdf.title, "#{@pdf.file}", :target => "_blank", :class => "btn btn-primary" %>
</p>


<%= link_to 'Edit', edit_pdf_path(@pdf), :class => "btn btn-success" %> |
<%= link_to 'Back', pdfs_path, :class => "btn btn-info" %>
