<!DOCTYPE html>
<html>
<head>
  <title>AptManager</title>
  <% if @home %>
  	<% bgs = ['front1', 'front2', 'front3', 'front4', 'front5', 'front6'] %>
  	<style type="text/css">
  	body{
  		background: url('/images/<%= bgs.sample %>.jpeg') no-repeat center center fixed; 
  		 -webkit-background-size: cover;
  		 -moz-background-size: cover;
  		 -o-background-size: cover;
  		 background-size: cover;
  	}
  	</style>
  	<%= stylesheet_link_tag "maintenance_requests" %>
  	<%= stylesheet_link_tag "bootstrap_and_overrides" %>
  <% else %>
  	<%= stylesheet_link_tag "bootstrap_and_overrides" %>
  	<%= stylesheet_link_tag "scaffolds" %>
  <% end %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>		

		<div class="container span12">
			<% unless @home %>
				<% if notice %>
					<%= notice %>
				<% elsif alert %>
					<%= alert %>
				<% end %>
			<% end %>

			<% if current_user && current_user.admin %>
				<%= render 'layouts/admin_nav' %>
				<%= yield %>
			<% else %>
				<%= render 'layouts/tenant_nav' %>
				<%= yield %>
				<%= render 'layouts/tenant_end_nav' %>
			<% end %>


		</div>

</body>
</html>
