<!DOCTYPE html>
<html>
<head>
  <title>AptManager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<% if notice %>
		<%= notice %>
	<% elsif alert %>
		<%= alert %>
	<% end %>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="brand" href=<%= root_path %>>Third Street Capital</a>
	      <div class="nav-collapse">
	        <ul class="nav">
	          <li><%= link_to "Properties", rentals_path %></li>
	          <% if current_user %>
	          	<% if current_user.admin %>
	          		<li><%= link_to "All Tenants", users_path %></li>
	          		<li><%= link_to "PDF", pdfs_path %></li>
	          	<% end %>
	          <% end %>
	        </ul>
	        <ul class="nav pull-right">
	          <% if current_user %>
	          	<% if current_user.admin %>
	          		<li><%= link_to "New Tenant", signup_path %></li>	
	          		<li><%= link_to "New Property", new_rental_path %></li>
	          		<li><%= link_to "Match", match_path %></li>
	          		<li><%= link_to "See All Matches", matches_path %></li>
	          		<li><%= link_to "Logout", logout_path %></li>
	          	<% else %>
	          		<li><%= link_to "Logout", logout_path %></li>
	          		<li class="brand"><%= current_user.name %></li>
	         		<% end %>
	         	<% else %>
	         		<li><%= link_to "Login", login_path %></li>
	         	<% end %>
	        </ul>
	      </div>
	    </div>
	  </div>
	</div>
	<%= yield %>
</div>
</body>
</html>
