<!DOCTYPE html>
<html>
<head>
  <title>AptManager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<% if notice %>
		<%= notice %>
	<% elsif alert %>
		<%= alert %>
	<% end %>
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="brand" href=<%= root_path %>>Third Street Capital</a>
	      <div class="nav-collapse">
	        <ul class="nav">
	          <li><%= link_to "Browse Properties", rentals_path %></li>
	        </ul>
	        <ul class="nav pull-right">
	          <% if current_user %>
	          	<li><%= link_to "Logout", logout_path %></li>
	          	<li class="brand"><%= current_user.name %></li>
	          <% else %>
	          	<li><%= link_to "Sign Up", signup_path %></li>
	          	<li><%= link_to "Login", login_path %></li>
	          <% end %>
	        </ul>
	      </div>
	    </div>
	  </div>
	</div>
	<%= yield %>
</div>
</body>
</html>
