<!DOCTYPE html>
<html>
<head>
  <title>AptManager</title>
  <% if @home %>
  	<%= stylesheet_link_tag "maintenance_requests" %>
  	<%= stylesheet_link_tag "bootstrap_and_overrides" %>
  <% else %>
  	<%= stylesheet_link_tag "bootstrap_and_overrides" %>
  	<%= stylesheet_link_tag "scaffolds" %>
  <% end %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>		

		<div class="container span12">
			<% unless @home %>
				<% if notice %>
					<%= notice %>
				<% elsif alert %>
					<%= alert %>
				<% end %>
			<% end %>

			<% if current_user && current_user.admin %>
				<%= render 'layouts/admin_nav' %>
				<%= yield %>
			<% else %>
				<%= render 'layouts/tenant_nav' %>
				<%= yield %>
				<%= render 'layouts/tenant_end_nav' %>
			<% end %>


		</div>

</body>
</html>
